In [15]:
import sqlite3
from sqlite3 import Error

In [63]:
db_file = '../databases/main.db'
conn = sqlite3.connect(db_file)

In [64]:
cur = conn.cursor()

In [42]:
# admin table
cur.execute('CREATE TABLE IF NOT EXISTS "admins" (\
        "adminname" TEXT,\
        "password" TEXT\
        );')

# username table
cur.execute('CREATE TABLE IF NOT EXISTS "users" (\
        "username" TEXT,\
        "password" TEXT\
        );')

cur.execute('CREATE TABLE IF NOT EXISTS "approvers" (\
        "username" TEXT,\
        "password" TEXT\
        );')

In [43]:
#cur.execute('INSERT INTO "admins" VALUES(\'admin\',\'admin\')')
#cur.execute('INSERT INTO "users" VALUES(\'user\',\'user\')')
cur.execute('INSERT INTO "approvers" VALUES(\'approver_1\',\'approver_1\')')

In [44]:
cur.execute("SELECT username, password FROM users")
cur.fetchall()

[('user', 'user'),
 ('admin_1', 'admin_1'),
 ('admin_2', 'admin_2'),
 ('asdasd', '123'),
 ('asdasd123', '123')]

In [45]:
cur.execute("SELECT adminname, password FROM admins")
cur.fetchall()

[('admin', 'admin'), ('admin_3', '123'), ('user_2', '1234')]

In [46]:
cur.execute("SELECT username, password FROM approvers")
cur.fetchall()

[('approver_1', 'approver_1'), ('approver_1', 'approver_1')]

In [39]:
cur.execute("SELECT * FROM admins WHERE adminname=?",["admin"])
cur.fetchall()

[('admin', 'admin')]

In [48]:
cur.execute('DELETE FROM users WHERE username=?',['asdasd123'])
cur.fetchall()

[]

## delete values

In [49]:
cur.execute("SELECT username, password FROM users")
cur.fetchall()

[('user', 'user'),
 ('admin_1', 'admin_1'),
 ('admin_2', 'admin_2'),
 ('asdasd', '123')]

## Update values

In [52]:
cur.execute("UPDATE users SET username = '{0}', password = '{1}' WHERE username=?".format("abc", "123321"), ["asdasd"])
cur.fetchall()

[]

In [65]:
cur.execute("SELECT username, password FROM users")
cur.fetchall()

[('user', 'user'),
 ('admin_1', 'admin_1'),
 ('admin_2', 'admin_2'),
 ('abc', '123321'),
 ('user_user', '123123'),
 ('useruseruser', '123123'),
 ('user007', 'asdas')]

In [54]:
conn.commit()

In [66]:
conn.close()